html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

body {
 padding-top:70px;
}

.productsrow {
  column-width: 18em;  
 -moz-column-width: 18em;
 -webkit-column-width: 18em;

 column-gap:1em;  
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 

}

.menu-caption {
 display: inline-block;
 margin-left: 2.5rem;
 margin-bottom:  0.25rem;
 padding:  1rem;
 width:  95%; 
}

.menu-category {
 display: inline-block;
 margin-bottom:  0.25rem;
 padding:  1rem;
 width:  100%; 
}

.product-image {
  width: 100%;
}

.product {
  padding-top:22px;  
}

.btn-product {
    background-color:#222;
    color:#eee;
    border-radius:0;
}

.yellow {
  color:yellow;
  text-shadow:#ccc 1px 1px 0;
}

.jumbotron {
  background-image: url(../img/assets/bread.png); 
  background-repeat: no-repeat;

  width: 100%;
}

.jumbotron h1, h2 {
  color: white;
}

.tab-content {
    padding-bottom: 100px;
}

a.box {
    text-decoration: none !important;
    color: #555;
}    
    

